.bingo-drum-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.spacer {
  width: 1rem;
}


@media only screen and (max-width: 730px) {
  .bingo-drum-wrapper {
    flex-direction: column;
  }
}
