.player-list-item-wrapper {
  display: flex;
  width: 100%;
  height: 1.5rem;
  align-items: center;
}

.player-list-item-name-wrapper {
  display: flex;
  width: 90%;
  align-items: center;
  flex-grow: 1;
}

.player-list-item-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
