.game-room-wrapper {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.bg-image {
  background-image: url("../../assets/images/dices-bg.jpeg");
  background-size: cover;
  background-position: center;
}
