.modal {
  position: fixed;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-close-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.modal-close-icon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #ffffff;
  padding: 0;
  cursor: pointer;
  font-size: 2rem;
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  border-radius: .4rem;
  padding: 1rem;
  width: 30vw;
}


@media only screen and (max-width: 600px) {
  .modal-content {
    width: 90vw;
  }
}

@media only screen and (max-width: 1000px) {
  .modal-content {
    width: 70vw;
  }
}
