.color-picker-wrapper {
  display: flex;
  align-items: center;
}

label {
  font-size: 18px;
  margin-right: 10px;
}

input[type="color"] {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  margin-left: 5px;
  padding: 0;
  background: none;
  cursor: pointer;
}
