.drawn-numbers-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  border: 2px solid #212121;
  border-radius: .4rem;
  height: 20vw;

  .drawn-numbers-header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding: .4rem;

    span {
      font-weight: bold;
      background-image: linear-gradient(to left, #553c9a 45%, #ee4b2b);
      color: transparent;
      -webkit-background-clip: text;
      font-size: 2rem;
    }
  }

  .drawn-numbers-pool {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
